* {
  padding: 0 3px 0 3px;
  margin: 0;
  
}

body{
   background-color: white;
  /* opacity: 0.8;
  background-image: radial-gradient(#795d5a 0.8px, #e5e5f7 0.8px);
  background-size: 16px 16px;
  z-index: -1;  */
}

.homeContainer {
  background-color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  margin: 0;
}